.slug-container{
  padding: 30px;
}

.slug-container-top{
  display: flex;
  align-items: center;
}

.slug-container-top-kiri{
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 25px;
}

.slug-container-top-kiri i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-primary);
  font-size: 1.5rem;
  margin-left: 5px;
  cursor: pointer;
}

.slug-container-top-kanan{
  flex: 1;
  margin-left: 15px;
}

.slug-container-top-kanan .search-form-unitSlug{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.input-wrapper-slug{
  background-color: pink;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.input-wrapper-slug input{
  width: 100%;
  padding: 6px 25px 6px 10px;
  border-radius: 4px;
  border: 1px solid #333;
}

.input-wrapper-slug i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: var(--text-muted);
  margin-left: 10px;
}

.slug-container-top-kanan button{
  background-color: var(--color-blue);
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  margin-left: 10px;
}

/* table style start */
.table-slug{
  margin-top: 20px;
  width: 100%;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  border-collapse: collapse;
  overflow: hidden;
}

.table-slug thead{
  background: linear-gradient(90deg, #4f46e5, #6366f1);
  color: white;
}

.table-slug th, .table-slug tbody td{
  padding: 12px 16px;
}

.table-slug tbody tr:hover{
  background-color: rgb(230, 230, 230);
}

.empty{
  color: var(--text-muted);
  font-size: 14px;
}

.editSlug{
  background: green;
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  color: white;
}

.editSlug:hover{
  background: rgba(0, 128, 0, 0.7);
}

.deleteSlug{
  background: var(--color-primary);
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  color: white;
}

.deleteSlug:hover{
  background-color: rgb(223, 76, 80);
}

.updated-row{
  background-color: #fff3b0;
  transition: background-color 1s ease;
}

.row-deleting{
  opacity: 0;
  transition: opacity 0.3s ease;
}
/* table style end */

/* modal style start */
.unit-modal-slug{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(20px);
  pointer-events: auto;
  transition: .3s ease;
  visibility: hidden;
  opacity: 0;
}

.unit-modal-slug.show{
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.unit-modal-slug .modal-slug-content{
  width: 600px;
  background: white;
  border-radius: 8px;
  padding: 30px;
  pointer-events: auto;
}

.modal-slug-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-slug-top i{
  font-size: 13px;
  color: var(--text-muted);
  cursor: pointer;
}

.unit-modal-slug label{
  display: block;
  margin-top: 15px;
}

.unit-modal-slug select{
  padding: 6px 10px;
  margin-top: 4px;
  border-radius: 4px;
}

.unit-modal-slug button{
  background-color: var(--color-blue);
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  margin: 15px auto 0;
}

.unit-modal-slug button:hover{
  background-color: var(--color-blue-hover);
}
/* modal style end */

/* suggestions style start */
.input-wrapper-slug{
  position: relative;
}

.suggestionsSlug{
  position: absolute;
  background: white;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  max-height: 200px;
  overflow-y: scroll;
  z-index: 1000;
  top: 100%;
  width: 100%;
}

.empty-suggestion{
  padding: 6px 10px;
  font-size: 14px;
  color: var(--text-muted);
}

.input-wrapper-slug .fa-x{
  color: red;
  cursor: pointer;
  font-size: 13px;
}

.suggestion-item.selected{
  background-color: rgb(229, 229, 229);
}
/* suggestions style end */