/* header.css */
/* Main header */
.main-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary);
  width: 100%;
  align-items: center;
  color: var(--color-primary);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-left {
  width: 210px;
  padding-left: 10px;
}

.header-left a {
  display: flex;
  align-items: center;
  color: white;
}
.logo {
  width: 75px;
  height: 64px;
  padding: 4px;
}

.school-name {
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
  display: block;
  margin-left: -25px;
}

/* Center section */
.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nav menu */
.nav-menu {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.nav-menu li { 
  position: relative; 
}

.nav-menu a, .user-dropdown a{
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 8px 14px;
  border-radius: var(--border-radius);
  transition: background 0.3s, color 0.3s;
}

/* kalau class active ada di a */
.nav-menu a.active {
  color: var(--color-primary);
  background-color: white;
}

/* kalau class active ada di li (parent dropdown) */
.nav-menu li.active > a {
  color: var(--color-primary);
  background-color: white;
}

.nav-menu a:hover{
  color: var(--color-primary);
  background-color: white;
}

/* efek tetap aktif saat hover submenu */
.nav-menu li:hover > a {
  color: var(--color-primary);
  background-color: white;
}

/* Dropdown menu */
.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  border: 1px solid #ddd;
  padding: 10px 0;
  min-width: 160px;
  font-size: 0.85rem;
  list-style: none;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  background-color: white;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(10px);
  z-index: 200;
}

.nav-menu .dropdown-menu{ 
  top: 31px; 
  left: 0; 
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-menu li {
  list-style: none;
  margin: 0px 0;
}

.dropdown-menu li a {
  color: #333;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-menu li a:hover { 
  background-color: #f5f6fa; 
  color: var(--color-primary); 
}

/* Right section */
.header-right {
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

.search-form{
  flex: 1;
}

.input-wrapper-glob{
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-wrapper-glob input[type="text"]{
  width: 100%;
  padding: 6px 0px 6px 7px;
  border-radius: 4px;
  border: none;
}

.input-wrapper-glob input:focus {
  border-color: #c21920;
  box-shadow: 0 0 5px rgba(194,25,32,0.4);
  outline: none;
}

.input-wrapper-glob i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
  color: var(--text-muted);
  cursor: pointer;
}

/* Button login */
.btn-login {
  color: var(--color-primary);
  background-color: white;
  padding: 6px 11px;
  border-radius: var(--border-radius);
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  margin-right: 5px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn-login:hover {
  background: rgb(251, 241, 241);
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  transform: translateY(-2px);
}

.user-foto{
  height: 35px;
  width: 35px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 5px;
}

/* User dropdown */
.user-dropdown { 
  display: inline-block; 
  position: relative; 
  cursor: pointer; 
}

.user-dropdown:hover .dropdown-menu {
  opacity: 1; 
  visibility: visible; 
  right: 0px; 
  top: 23px;
  transform: translateY(11px);
}

/* Responsive */
@media (max-width: 768px) {
  .main-header { flex-direction: column; align-items: flex-start; padding: 15px 20px; }
  .nav-menu { flex-direction: column; gap: 10px; width: 100%; }
  .header-right { margin-top: 10px; align-self: flex-end; }
}
